.Modal__Container {
  left: 0;
  top: 50%;
  width: 100%;
  height: fit-content;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99998;
}

.Modal {
  width: fit-content;
  height: fit-content;
  z-index: 99999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal__Close {
  cursor: pointer;
  align-self: flex-end;
}