@import '../../../../styles/spacing.scss', '../../../../styles/colors.scss', '../../../../styles/shadows.scss';

// TODO: clean up and make it look nice

.GameOver__Container {
  width: 30rem;
  height: fit-content;
  background-color: $white-lead;
  border-radius: $border-radius-lead;
  border: 1px solid $white-lead;
  @include dropshadow-lead;
}

.GameOver__Header {
  border-top-left-radius: $border-radius-lead;
  border-top-right-radius: $border-radius-lead;
  background-color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-lead;
}

.GameOver__Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 25vh;
  background-color: $blue-light;
  border-bottom-left-radius: $border-radius-lead;
  border-bottom-right-radius: $border-radius-lead;
}