@import '../../../../styles/spacing.scss', '../../../../styles/colors.scss', '../../../../styles/shadows.scss', '../../../../styles/breakpoints.scss';

.GameOver__Container {
  width: 30rem;
  height: fit-content;
  text-align: center;
  position: relative;
  
  p {
    padding: 5% 0;
  }

  h3 {
    color: $black-lead;
  }

  @media screen and (max-width: $mobile) {
    width: 85vw;
  }
}

.GameOver__CloseButton {
  position: absolute;
  top: -2rem;
  right: 0;
  cursor: pointer;
  color: $white-lead;
}