@import '../../../../styles/colors.scss',
'../../../../styles/spacing.scss',
'../../../../styles/shadows.scss',
'../../../../styles/typography.scss',
'../../../../styles/breakpoints.scss';

.LandingPage__Container {
  height: 100vh;
  height: 100dvh;
  background-color: $black-light;
  color: $white-lead;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;

  @media screen and (max-width: $mobile) {
    padding: 0;
    padding-bottom: 40vh;
  }

  @media screen and (max-height: 900px) {
    padding: 0;
    padding-bottom: 40vh;
  }
}

.LandingPage__Top {
  width: 100%;
  height: 3rem;
  background-color: $black-lead;
  margin-bottom: 2rem;
}

.LandingPage__Main {
  width: 100%;
  min-width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5% 0;
}

.LandingPage__Header {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    @include text-3D($black-lead);
    color: $white-lead;
  }

  h3 {
    font-style: italic;
    padding: 0 20%;
  }

  & > * {
    margin: .5rem 0;
  }
}

.LandingPage__Content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.LandingPage__ContentWrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.LandingPage__DemoContainer {
  width: 40rem;
  min-width: 18rem;
  aspect-ratio: 1 / 1;
  background-color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  @include dropshadow-lead;

  @media screen and (max-width: $mobile) {
    position: unset;
    margin-right: 0;
    width: 95%;
  }
}

.LandingPage__Panel {
  z-index: 2;
  width: 28rem;
  min-width: 20rem;

  @media screen and (max-width: $mobile) {
    position: unset;
    margin-top: -4rem;
    margin-left: 0;
    width: 80vw;
  }
}

.LandingPage__BulletPoint {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  span {
    margin-right: .25rem;
  }
}