$white-lead: rgb(244, 244, 244);
$white-dark: rgb(204, 204, 204);
$white-transparent400: rgba(255, 255, 255, 0.400);
$white-transparent200: rgba(255, 255, 255, 0.200);

$grey-lead: rgb(71, 71, 71);
$grey-light: rgb(107, 107, 107);
$grey-dark: rgb(49, 49, 49);

$black-lead: rgb(21, 21, 21);
$black-light: rgb(32, 32, 32);

$blue-lead: rgb(163, 189, 235);
$blue-light: rgb(210, 224, 246);
$blue-dark: rgb(23, 60, 124);

$red-lead: rgb(204, 77, 96);
$red-dark: rgba(219, 75, 75, 0.348);
$red-light: lightpink;

$green-lead: lightgreen;
$green-dark: rgb(103, 188, 103);

@mixin modal-bg-blur {
  backdrop-filter: blur(10px);
}

@mixin gradient-lead {
  background: linear-gradient(135deg, $blue-dark 0%, $red-dark 100%);
}

@mixin gradient-slant($color1, $color2) {
  background: linear-gradient(135deg, $color1 0%, $color2 100%);
}

@mixin icon-button-pulse-animation($from, $to, $duration, $type) {
  @keyframes pulse {
    0% { color: $from; border-color: $from; }
    50% { color: $to; border-color: $to; }
    100% { color: $from; border-color: $from; }
  }

  animation: pulse $duration $type infinite;
}

$document-bg: $black-light;