$white-lead: rgb(244, 244, 244);

$grey-lead: rgb(71, 71, 71);

$black-lead: rgb(21, 21, 21);
$black-light: rgb(32, 32, 32);

$blue-lead: rgb(163, 189, 235);
$blue-light: rgb(210, 224, 246);
$blue-dark: rgb(23, 60, 124);

$red-lead: rgba(219, 75, 75, 0.348);
$red-light: lightpink;