@import '../../../styles/colors.scss';

.BoardSquareTile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh / 8 - .75rem);
  max-height: calc(100vw / 8 - .75rem);
  width: auto;
  max-width: calc(100vw / 8 - .75rem);
  aspect-ratio: 1 / 1;
  position: relative;

  &.dark {
    background-color: $grey-dark;
    color: white;
  }

  &.light {
    color: black;
  }

  &.cooldown {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(46, 46, 46, 0.546);
    }
  }

  &.valid-move {
    &::after {
      content: '';
      width: 25%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.247);
      position: absolute;
      z-index: 2;
    }
  }

  &.valid-capture {
    &::after {
      content: '';
      width: 95%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: $red-dark;
      position: absolute;
      z-index: 3;
    }
  }

  &.panel {
    @include modal-bg-blur;
    background-color: rgba(145, 145, 145, 0.518);

    &:hover {
      background-color: rgba(196, 196, 196, 0.518);
    }
  }
}

.BoardSquareTile__CooldownProgress {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: $red-light;
  
  &.white-player {
    bottom: 0;
    left: 0;
  }

  &.black-player {
    top: 0;
    right: 0;
  }

  &.opponent {
    background-color: $grey-light;
  }
}

