@import './styles/colors.scss', './styles/spacing.scss';

.App {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App__BoardContainer {
  height: 100%;
  width: 100%;
}